<!DOCTYPE html>
<html>
  <head>
    <title>Wainavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/header" %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>

<!-- app/views/wineries/index.html.erb -->