<!DOCTYPE html>
<html>
  <head>
    <title>Wainavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>

  </head>

  <body>
    <%= render "shared/header" %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>

<!-- app/views/wineries/index.html.erb -->